<div class="form-group row" [formGroup]="form">
<label class="col-md-3 form-control-label" *ngIf="field.Type!=FieldType.Message && field.Type!=FieldType.ActionButton" [attr.for]="field.Label">

    {{field.Label}}

    <strong class="text-danger" *ngIf="field.Required==true">*</strong>
</label>
<message *ngIf="field.Type==FieldType.Message" [field]="field" [form]="form"></message>

<div class="col-md-9" [ngSwitch]="field.Type">
    <div [ngSwitch]="field.Type">
        <textbox [model]="model" *ngSwitchCase="FieldType.SingleLine" [field]="field" [form]="form"></textbox>
        <number *ngSwitchCase="FieldType.Decimal" [field]="field" [form]="form"></number>
        <number *ngSwitchCase="FieldType.History" [field]="field" [form]="form"></number>
        <dropdown (fieldchange)="onChange($event)" *ngSwitchCase="FieldType.SingleSelect" [field]="field" [form]="form">
        </dropdown>
        <radio *ngSwitchCase="FieldType.SingleSelect" [field]="field" [form]="form"></radio>
        <checkbox *ngSwitchCase="FieldType.CheckBox" [field]="field" [form]="form"></checkbox>
        <file *ngSwitchCase="FieldType.MultipleFileUpload" [field]="field" [form]="form"></file>
        <file *ngSwitchCase="FieldType.SingleFileUpload" [field]="field" [form]="form"></file>
        <date *ngSwitchCase="FieldType.Date" [field]="field" [form]="form"></date>
        <multiselect-dropdown *ngSwitchCase="FieldType.MultiSelect" [field]="field" [form]="form">
        </multiselect-dropdown>
        <document *ngSwitchCase="FieldType.Document" [field]="field" [form]="form"></document>
        <dui-button *ngSwitchCase="FieldType.Button" [field]="field" [form]="form"></dui-button>
        <html-text-editor *ngSwitchCase="FieldType.HtmlTextEditor" [field]="field" [form]="form">
        </html-text-editor>
        <hidden *ngSwitchCase="FieldType.Hidden" [field]="field" [form]="form">
        </hidden>
        <adhoc *ngSwitchCase="FieldType.AdhocReport" [field]="field" [form]="form"></adhoc>
        <excel-viewer *ngSwitchCase="FieldType.ExcelViewer" [field]="field" [form]="form"></excel-viewer>
        <error-message [field]="field" [form]="form"></error-message>
        <survey-notes *ngSwitchCase="FieldType.SurveyNotes" [field]="field" [form]="form"></survey-notes>
        <action-button *ngSwitchCase="FieldType.ActionButton" [field]="field" [form]="form"></action-button>
    </div>
</div>